<!-- Construindo o grupo dos dados gerais -->
<fieldset>

    <!-- Adicionando legenda a caixa do formulário -->
    <legend>Dados gerais</legend>

    <!-- Titulo do input -->
    <label for="name">Nome:</label>

    <!-- 
        Definindo o tipo do dado que o formulário irá coletar, o minimo
        de letras que irá coletar e adicionando um id para realizar
        orientações a objetos futuramente
    -->
    <input type="text" minlength="3" id="name">
    <label for="born-date">Data de nascimento:</label>
    <input type="date" id="born-date">
    <label for="cpf">CPF:</label>
    <input type="number" minlength="11" id="cpf">

</fieldset>